body {
  margin: 0 auto;
  padding: 50px;
  font-family: "Roboto Slab", serif;
  background-color: #95818d10;
  color: #122932;
  text-align: center;
}

a {
  color: #db84b4;
}

a:hover {
  color: #db288b;
}
@media (max-width: 767px) {
  body {
    padding: 5px;
  }
}
