.Pictures img {
  border-radius: 10px;
  width: 80%;
  margin: 30px;
}

.Pictures {
  padding: 30px 30px;
  text-align: center;
}

@media (max-width: 767px) {
  .Pictures .col-4 {
    width: 100%;
  }
}
